<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>SungWoo AWS instance-A</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body style="text-align:center">
    <img src="http://d3989a038znggv.cloudfront.net/20210525.jpg"  width="690" height="690">
    <p style="font-size: 35px; color:white;">위 이미지는 CloudFront (CDN) 에서 보여지고 있습니다!</p>


  </body>

  </html>
